[submodule "wwwroot/phpbb/ext/anavaro/postlove"]
	path = wwwroot/phpbb/ext/anavaro/postlove
	url = https://github.com/spring/spring-website-mantis-postlove.git
[submodule "wwwroot/phpbb/ext/o0johntam0o/codeboxplus"]
	path = wwwroot/phpbb/ext/o0johntam0o/codeboxplus
	url = https://github.com/gajop/phpBB-Extension-Codebox-Plus.git
