# database connection details
springpw.php

# includes/cache.php
/cache

# includes/thumbs.php
/wwwroot/thumbs

# phpBB
/wwwroot/phpBB-*/cache/
/wwwroot/files/files
/wwwroot/files/store
/wwwroot/files/images/avatars/upload
/wwwroot/*/install

# downloads
/wwwroot/dl

# Misc file endings
*~
*.rej
*.orig
