# database connection details
springpw.php

# includes/cache.php
/cache

# includes/thumbs.php
/wwwroot/thumbs

# phpBB
/wwwroot/phpbb/cache
/wwwroot/phpbb/files
/wwwroot/phpbb/store
/wwwroot/phpbb/images/avatars/upload
/wwwroot/phpbb/install
/wwwroot/phpbb/ext/phpbb/viglink/.gitignore

# downloads
/wwwroot/dl

# Misc file endings
*~
*.rej
*.orig
