[submodule "source-integration"]
	path = source-integration
	url = git://github.com/mantisbt-plugins/source-integration.git
[submodule "wwwroot/phpbb/ext/anavaro/postlove"]
	path = wwwroot/phpbb/ext/anavaro/postlove
	url = git@github.com:gajop/postlove.git
