  <tr valign="bottom">
    <td class="bottombar" height="58">
      Site layout done by <a href="http://spring.clan-sy.com/phpbb/memberlist.php?mode=viewprofile&u=4760" class="bottomlink">Roflcopter</a>. The reference design that I'm trying to implement can be found <a href="http://img151.imageshack.us/img151/4562/springweb3za7.jpg" class="bottomlink">here</a>.
      <br /><br />
    </td>
  </tr>  
  <tr>
    <td>
      <img src="/images/pixel.gif" width="1" height="18" border="0" /><br />
    </td>
  </tr>     
</table>
