  <tr valign="bottom">
    <td class="bottombar" height="18" align="right">
      Site layout created by <a href="http://springrts.com/phpbb/memberlist.php?mode=viewprofile&amp;u=4760" class="bottomlink">Roflcopter</a> et al.
    </td>
  </tr>
</table>
</div>
</div>
<!-- Piwik --> 
<script type="text/javascript">
document.write(unescape("%3Cscript src='/piwik/piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker("/piwik/piwik.php", 1);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="/piwik/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tracking Code -->
