<div id="content">
	<div class="welcome" id="homepage_banner">
		<!-- Welcome Image & Text -->
		<div class="welcomeimage" style="background-image: url(#WELCOME#)">
			<div id="welcometext">
				<p>Spring is a free RTS game engine</p>
				<p class="welcomesmall">
					developed for
					<a href="/wiki/Download">Windows</a>,
					<a href="/wiki/Download">Linux</a> and
					<a href="/wiki/Download">Mac OS X</a>
				</p>
			</div>
		</div>
		#SCREEN1#
		#SCREEN2#
	</div>

	<div id="homepage_media" class="cf">
		<div id="frontmediavideotd">
			<iframe width="363" height="205" style="margin-left:auto; margin-right:auto; display:block;" align="left" src="#VIDEOFILE#" frameborder="0"></iframe>
		</div>
		<div class="homepage-media-options">
			<div class="bigbar">
				<div class="learnmorebar"><a href="/wiki/About">Learn more</a></div>
				<div class="downloadbar"><a href="/wiki/GamesDownloads">Download and play</a></div>
				<div class="gamesbar"><a href="/wiki/Games">See the games</a></div>
			</div>
		</div>
		<span style="clear:both;"></span>
	</div>

	<div id="homepage_news" class="news">
		<div class="newsbar">
			Latest news
		</div>
		<div class="newsitems">
			#NEWSITEMS#
		</div>
	</div>
</div>
