<table width="760" border="0" cellspacing="0" cellpadding="0" align="center" style="margin-left: auto; margin-right: auto;">
  <tr>
    <td class="headertd">
      <div class="banner">
<!--[if lt IE 7]>
        <a href="/"><img src="/images/logo.gif" height="74" border="0" style="padding-left: 10px; padding-top: 18px;"/><br /></a>
<![endif]-->
<![if gte IE 7]>
<!--        <a href="/"><img src="/images/logo2.png" height="110" width="760" border="0" /><br /></a>  -->
        <a href="/"><img src="/images/logo.png" height="74" border="0" style="padding-left: 10px; padding-top: 18px;"/><br /></a> 
<![endif]>
      </div>
    
      <table width="760" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="headertd">
            <img src="/images/pixel.gif" width="760" height="105" border="0" /><br />
          </td>
        </tr>      
        <tr>
          <td align="right" class="headertd">
			<table border="0" cellspacing="0" cellpadding="0" class="menubar">
             <tr>
                <td class="headermenuleft" id="spm_home">
                  <a href="/" class="menubar headermenuleftlink"><img src="/images/homie.gif" width="11" height="10" border="0" />&nbsp;Home</a>
                </td>
                
               
                <td><img src="/images/menudivider.png" height="25" width="1"/></td>
                <td class="headermenu" id="spm_about">
                  <a href="/wiki/About" class="menubar headermenulink">About</a>
                </td>

                <td><img src="/images/menudivider.png" height="25" width="1"/></td>
                <td class="headermenu" id="spm_games">
                  <a href="/wiki/Games" class="menubar headermenulink">Games</a>
                </td>

                <td><img src="/images/menudivider.png" height="25" width="1"/></td>
                <td class="headermenu" id="spm_dev">
                  <a href="/wiki/Engine_Development" class="menubar headermenulink">Development</a>
                </td>

                <td><img src="/images/menudivider.png" height="25" width="1"/></td>
                <td class="headermenu" id="spm_media">
                  <a href="/media.php" class="menubar headermenulink">Media</a>
                </td>

                <td><img src="/images/menudivider.png" height="25" width="1"/></td>
                <td class="headermenu" id="spm_help">
                  <a href="/wiki/FAQ" class="menubar headermenulink">Help</a>
                </td>

                <td><img src="/images/menudivider.png" height="25" width="1"/></td>
                <td class="headermenu" id="spm_forums">
                  <a href="/phpbb" class="menubar headermenulink">Forums</a>
                </td>

                <td><img src="/images/menudivider.png" height="25" width="1"/></td>
                <td class="headermenu" id="spm_wiki">
                  <a href="/wiki" class="menubar headermenulink">Wiki</a>
                </td>

                <td><img src="/images/menudivider.png" height="25" width="1"/></td>
                <td class="headermenu" id="spm_bugtracker">
                  <a href="/mantis" class="menubar headermenulink">Report a bug</a>
                </td>

                <td class="headertd"><img src="/images/menudivider.png" height="25" width="1"/></td>                 
                <td class="headermenuright" id="spm_download">
                  <a href="/wiki/Download" class="menubar headermenurightlink"><img src="/images/download.gif" width="11" height="10" border="0" />&nbsp;Download</a>
                </td>                
              </tr>
			</table>           
          </td>
        </tr>        
      </table>  
    </td>
  </tr>
  <tr>
    <td class="headertd"><img src="/images/pixel.gif" height="4" width="1" /><br /></td>
  </tr>
  <tr>
    <td class="locationbar" height="25">{PAGE_TITLE}</td>
  </tr>
