<div id="wrapper">
	<div id="header">
		<div class="header-navbar-background">
			<div class="header-navbar-container">
				<a href="/"><img src="https://springrts.com/images/logo.png" class="spring-logo"></a>
				<div class="header-navbar-menu">
					<ul>
						<li>
							<a href="/wiki/About">About</a>
						</li>

						<li>
							<a href="/wiki/Games">Games</a>
						</li>

						<li>
							<a href="/wiki/Engine_Development">Development</a>
						</li>

						<li>
							<a href="/media.php">Media</a>
						</li>

						<li>
							<a href="/wiki/FAQ">Help</a>
						</li>

						<li>
							<a href="/phpbb">Forums</a>
						</li>

						<li>
							<a href="/wiki">Wiki</a>
						</li>

						<li>
							<a href="/mantis">Report a bug</a>
						</li>

						<li>
							<a href="/wiki/Download">Download</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div id="maincontentwrapper">
		<div class="locationbar">{PAGE_TITLE}</div>
