<div id="wrapper">
	<div id="header">
		<div class="banner">
			<div class="topbannerbg">
				<div id="topbannerfade"></div>
				<a id="toplogo" href="/"></a>
			</div>
		</div>

		<div id="menu">
			<ul>
				<li class="headermenuleft" id="spm_home">
					<a href="/" class="menubar headermenuleftlink"><img src="/images/homie.gif" width="11" height="10" border="0" alt="" />&nbsp;Home</a>
				</li>


				<li class="separator"><img src="/images/menudivider.png" height="25" width="1" alt="" /></li>
				<li class="headermenu" id="spm_about">
					<a href="/wiki/About" class="menubar headermenulink">About</a>
				</li>

				<li class="separator"><img src="/images/menudivider.png" height="25" width="1" alt="" /></li>
				<li class="headermenu" id="spm_games">
					<a href="/wiki/Games" class="menubar headermenulink">Games</a>
				</li>

				<li class="separator"><img src="/images/menudivider.png" height="25" width="1" alt="" /></li>
				<li class="headermenu" id="spm_dev">
				<a href="/wiki/Engine_Development" class="menubar headermenulink">Development</a>
				</li>

				<li class="separator"><img src="/images/menudivider.png" height="25" width="1" alt="" /></li>
				<li class="headermenu" id="spm_media">
					<a href="/media.php" class="menubar headermenulink">Media</a>
				</li>

				<li class="separator"><img src="/images/menudivider.png" height="25" width="1" alt="" /></li>
				<li class="headermenu" id="spm_help">
					<a href="/wiki/FAQ" class="menubar headermenulink">Help</a>
				</li>

				<li class="separator"><img src="/images/menudivider.png" height="25" width="1" alt="" /></li>
				<li class="headermenu" id="spm_forums">
					<a href="/phpbb" class="menubar headermenulink">Forums</a>
				</li>

				<li class="separator"><img src="/images/menudivider.png" height="25" width="1" alt="" /></li>
				<li class="headermenu" id="spm_wiki">
					<a href="/wiki" class="menubar headermenulink">Wiki</a>
				</li>

				<li class="separator"><img src="/images/menudivider.png" height="25" width="1" alt="" /></li>
				<li class="headermenu" id="spm_bugtracker">
					<a href="/mantis" class="menubar headermenulink">Report a bug</a>
				</li>

				<li class="headertd separator"><img src="/images/menudivider.png" height="25" width="1" alt="" /></li>
				<li class="headermenuright" id="spm_download">
					<a href="/wiki/Download" class="menubar headermenurightlink">
						<img src="/images/download.gif" width="11" height="10" border="0" alt="" />
						&nbsp;Download
					</a>
				</li>
			</ul>
		</div>
	</div>

	<div id="maincontentwrapper">

	<table border="0" cellspacing="0" cellpadding="0" align="center" width="100%">

		<tr>
			<td class="headertd"><img src="/images/pixel.gif" height="4" width="1" alt="" /><br /></td>
		</tr>
		<tr>
			<td class="locationbar" height="25">{PAGE_TITLE}</td>
		</tr>
