<table cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td>
      <img src="images/pixel.gif" height="4" width="16" /><br />
    </td>
    <td>
      <table cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td colspan="3" bgcolor="#20292E">
            <img src="images/pixel.gif" height="1" width="16" /><br />
          </td>
        </tr>
        <tr>
          <td bgcolor="#20292E">
            <img src="images/pixel.gif" height="16" width="1" /><br />
          </td>
          <td>                
            <div id='mediavideos'>                                                          
              <div id='preview'>
                <img src="images/novideo.png" height="302" width="500" border="0" /><br />
              </div>
              <script type='text/javascript' src='/external/jwplayer/swfobject.js'></script>
              <script type='text/javascript'>
                <!--                              
                var s1 = new SWFObject('/external/jwplayer/player.swf','player','500','302','9');
                s1.addParam('allowfullscreen','true');
                s1.addParam('allowfullscreen','true');
                s1.addParam('allowscriptaccess','always');
                s1.addParam('flashvars','file=#VIDEOFILE#&fullscreen=true&autostart=true');
                s1.write('preview');
                // -->
              </script>                                                                                 
            </div>
          </td>
          <td bgcolor="#20292E">
            <img src="images/pixel.gif" height="16" width="1" /><br />
          </td>          
        </tr>
        <tr>
          <td colspan="3" bgcolor="#20292E">
            <img src="images/pixel.gif" height="1" width="16" /><br />
          </td>
        </tr>
      </table>    
  <br />  
    </td>
  </tr>
</table>