  <tr>
    <td class="mediabanner title">
       Screenshots and videos
    </td>
  </tr>
  <tr>
    <td>
      <table width="100%" border="0" cellpadding="0" cellspacing="0"  bgcolor="#4C626F" style="border-right: 1px solid #20292E; border-left: 1px solid #20292E; padding-left: 
12px; padding-top: 20px; padding-bottom: 10px;">
        <tr valign="top">
          <td width="100%" class="newsheadline">
            #VIDEOPLAYER#
            <table width="100%" border="0" cellpadding="0" cellspacing="10">
              #MEDIA#
            </table>
          </td>

          <td width="202px" style="padding-left:12px">
            <table id="mediatoolbar" width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr height="25">
                <td class="newsbar">
                  Contributing content
                </td>
              </tr>
              <tr height="40" valign="top">
                <td bgcolor="#38474E" width="195" class="newsitem" style="padding: 4px">
                  If you would like to contribute screenshots or videos, take a look at <a href="/wiki/Contributing_media">these instructions</a>.
                </td>
              </tr>
              <tr height="20">
                <td>
                  &nbsp;
                </td>
              </tr>


              <tr height="25">
                <td class="newsbar">
                  Media selector
                </td>
              </tr>
              <tr height="200" valign="top">
                <td bgcolor="#38474E" width="195" class="newsitem">
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td style="padding: 4px">
                        You can filter the types of content displayed on the page by using the controls below.
                      </td>
                    </tr>
                    <tr>
                      <td style="padding-left: 8px; padding-bottom: 4px; border-bottom: 1px solid #20292E;">
                        <a href="#IMAGELINK#">Show images only</a>
                        <br />
                        <a href="#VIDEOLINK#">Show videos only</a>
                      </td>
                    </tr>
                    <tr>
                      <td style="padding: 4px;">
                        Filter content by clicking on any of the keywords below.
                      </td>
                    </tr>
                    <tr>
                      <td style="padding: 4px;">
                        <ul class="taglist">
                          #TAGS#
                        </ul>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>

        </tr>
      </table>

    </td>
  </tr>
