  <tr>
    <td>
      <table width="760" border="0" cellpadding="0" cellspacing="0">
        <tr height="93">
          <td bgcolor="#20292E">
            <img src="images/pixel.gif" height="4" width="1" /><br />
          </td>
          <td width="758" background="images/contentheader.png">
            <table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td rowspan="2">
                  &nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td class="welcome">
                  Screenshots and videos
                </td>
              </tr>
              <tr>
                <td class="byline">
                  #HELP#
                </td>
              </tr>
            </table>
          </td>
          <td bgcolor="#20292E">
            <img src="images/pixel.gif" height="4" width="1" /><br />
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table width="760" border="0" cellpadding="0" cellspacing="0"  bgcolor="#4C626F">
        <tr valign="top">
          <td bgcolor="#20292E">
            <img src="images/pixel.gif" height="4" width="1" /><br />
          </td>
          <td>
            <img src="images/pixel.gif" height="4" width="12" /><br />
          </td>

          <td width="734" class="newsheadline">
            <br />
            #VIDEOPLAYER#
            <table width="534" border="0" cellpadding="0" cellspacing="4">
              #MEDIA#
            </table>
            <br />
          </td>

          <td>
            <img src="images/pixel.gif" height="4" width="12" /><br />
          </td>
          <td>
            <table width="190" border="0" cellpadding="0" cellspacing="0">
              <tr height="20">
                <td>
                  &nbsp;
                </td>
              </tr>


              <tr height="25">
                <td class="newsbar">
                  Contributing content
                </td>
              </tr>
              <tr height="40" valign="top">
                <td bgcolor="#38474E" width="195" class="newsitem">
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td style="padding: 4px">
                        If you would like to contribute screenshots or videos, take a look at <a href="/wiki/Contributing_media">these instructions</a>.
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr height="20">
                <td>
                  &nbsp;
                </td>
              </tr>


              <tr height="25">
                <td class="newsbar">
                  Media selector
                </td>
              </tr>
              <tr height="200" valign="top">
                <td bgcolor="#38474E" width="195" class="newsitem">
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td style="padding: 4px">
                        You can filter the types of content displayed on the page by using the controls below.
                      </td>
                    </tr>
                    <tr>
                      <td>
                        &nbsp;&nbsp;<a href="#IMAGELINK#">Show images only</a>
                        <br />
                        &nbsp;&nbsp;<a href="#VIDEOLINK#">Show videos only</a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <img src="images/pixel.gif" height="4" width="15" /><br />
                      </td>
                    </tr>
                    <tr>
                      <td bgcolor="#20292E">
                        <img src="images/pixel.gif" height="1" width="15" /><br />
                      </td>
                    </tr>
                    <tr>
                      <td style="padding: 4px">
                        Filter content by clicking on any of the keywords below.
                      </td>
                    </tr>
                    #TAGS#
                    <tr>
                      <td>
                        <img src="images/pixel.gif" height="4" width="15" /><br />
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr height="20">
                <td colspan="2">
                  &nbsp;
                </td>
              </tr>
            </table>
          </td>
          <td bgcolor="#20292E">
            <img src="images/pixel.gif" height="4" width="1" /><br />
          </td>

        </tr>
        <tr>
          <td bgcolor="#20292E" colspan="5">
            <img src="images/pixel.gif" height="1" width="10" /><br />
          </td>
        </tr>

      </table>

    </td>
  </tr>
