
	<link href="/fonts/freesans.css" rel="stylesheet" type="text/css" />
	<script src="/fonts/freesans_opera.js" type="text/javascript"></script>
	<link href="/styles.css?v=1" rel="stylesheet" type="text/css" />
	<script src="/external/lytebox/lytebox.js" type="text/javascript"></script>
	<link rel="stylesheet" href="/external/lytebox/lytebox.css" type="text/css" media="screen" />
	<script src="/holidays.js" type="text/javascript"></script>

	<script type="text/javascript">
	// <![CDATA[
		// forum stylesheet isn't ready for smallscreen rendering yet
		if (document.URL.toLowerCase().search("phpbb") == -1) {
			document.write("<meta name='viewport' content='width=device-width, initial-scale=1.0' />");
		}
	// ]]>
	</script>

	{META}
