<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="alternate" type="application/atom+xml" title="The Spring Project - News" href="http://springrts.com/phpbb/feed.php?f=2" /> 
<title>The Spring Project</title>
<link href="styles.css" rel="stylesheet" type="text/css" />
<link href="index.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" language="javascript" src="external/lytebox/lytebox.js"></script>
<link rel="stylesheet" href="external/lytebox/lytebox.css" type="text/css" media="screen" />
</head>
<body>
