@import url("/styles.css");


/* HTML-BODY */
html {
  min-height: 100%;
  margin-bottom: 0.01em;
}


/* MEDIAWIKI */
#mw-content-text         {width: 100%; overflow: hidden;
                          margin: 0; padding: 10px 0 12px 0;
                          color: #eeeeee;}
#specialform             {display: inline;}
#content                 {top: 0; margin: 0; padding: 0 0 0 10px; overflow: hidden;
                          background-color: #4C626F;
                          border-left: 1px solid #20292E; border-right: 1px solid #20292E;}
#article                 {/*padding-right: 10px;*/}
#topbar                  {padding: 0px;}
#powersearch             {background: #38474e; border: solid 1px #20292E; padding: 5px;}
#powersearch *           {margin: 2px !important;}
#quickbar                {position: relative; left: 4px; top: 18px; 
                          width: 140px; padding: 0; margin-top: 0;
                          visibility: visible; z-index: 99;
                          font-size: 8pt; font-weight: bold; line-height: 9.5pt;
                          text-decoration: none;
                          color: black;}
#quickbar a              {color: #468;}
#quickbar h6             {padding: 0; margin-bottom: 2px; margin-top: 6px;
                          font-size: 10pt; font-weight: bold; line-height: 12pt;
                          text-decoration: none;
                          color: #666;}
#quickbar form           {padding: 0; margin-top: 0;}
#sitetitle               {color: white;
                          font-weight: normal; font-size: 32pt;
                          line-height: 32pt;}
#toolbar                 {width: 100%;}
#toolbar a               {font-size: 14px}
#toolbar h6              {font-weight: bold;}
.toolbartitle            {height: 24px;
                          line-height: 24px;
                          vertical-align: middle;
                          background-color: #34414A;
                          background: linear-gradient(top, #34414A, #506673 100%);
                          background: -o-linear-gradient(top, #34414A, #506673 100%);
                          background: -moz-linear-gradient(top, #34414A, #506673 100%);
                          background: -webkit-linear-gradient(top, #34414A, #506673 100%);
                          background: -ms-linear-gradient(top, #34414A, #506673 100%);
                          box-shadow: inset 0px 1px rgba(255, 255, 255, 0.298);
                          border-left:   1px solid #20292E;
                          border-bottom: 1px solid #20292E;
                          border-radius: 10px 0 0 0;
                          padding: 0 0 0 12px;
                          font-size: 13px;
                          font-weight:bold;
                          text-shadow: 2px 2px 2px rgba(0,0,0,0.35);
                          color: #EEE;}
#toolbar > table         {background-color: #38474E;
                          border-left: 1px solid #20292E;
                          border-bottom: 14px solid #20292E;
                          border-radius: 0 0 0 4px;}
#footer                  {padding: 16px;}
#footer *                {font-size: 10pt;}
#footer form             {display: inline;}
#footer td.top           {background-color: #6688AA; color: white;
                          margin-top: 4px; margin-bottom: 4px;
                          padding-top: 0; padding-bottom: 0;
                          text-transform: uppercase;
                          font-size: 8pt;}
#footer td.top a         {background-color: #6688AA; color: white;
                          text-decoration: none; font-size: 10pt;}
#footer table.gsc-branding { display: none; } /* Google Custom Search */
#pagestats               {font-size: 9pt; color: black;}
#sitesub                 {font-size: 9pt; font-weight: bold;
                          color: black;
                          padding-top: 0;}


/* TABLE OF CONTENT */
.mw-content-ltr .toc ul ul,
.mw-content-ltr #toc ul ul,
.mw-content-rtl .mw-content-ltr .toc ul ul,
.mw-content-rtl .mw-content-ltr #toc ul ul {
	margin: 0 0 0 2.5ex;
}
#toc                     {background-color: #38474E;
                          border-color: #20292E;
                          border-radius: 10px 10px 0 10px;
                          box-shadow: 0 0 2px rgba(0,0,0,0.4);
                          float: right;}
#toc *                   {color: #EEE; text-shadow: 2px 2px 2px rgba(0,0,0,0.4);}
#toctitle h2             {font-size: 12pt}
.tocnumber               {content: '\2022'; text-shadow: #111 2px 2px 2px;}


/* SOME STUFF */
#mw-content-text p       {margin-top: 1ex; color: #eeeeee;}
#mw-content-text td,#mw-content-text th { color: #eeeeee;}
#mw-content-text p.subtitle {color: #666666; font-size: 11pt; font-weight: bold;
                          padding-top: 0; margin-top: 0; padding-bottom: 1ex;}
p, pre, td,
th, li, dd, dt           {}
textarea                 {overflow: auto;}
hr                       {border-bottom: 1px #eee solid;}

/* if first element is H1 undo the padding-top:10px from #mw-content-text */
#mw-content-text > a:first-child + h1,
#mw-content-text > table:first-child + script + a + h1 {margin-top: -5px}


/* LINKS */
a:link,a:visited         {color: #D8EFFF; text-decoration:none;}
a:hover                  {text-decoration: underline;}
#mw-content-text a.new           {color: #f55;}
#mw-content-text a.new:visited   {color: #ff3030;}
#mw-content-text a               {color: #bbf; text-shadow: #333 2px 2px 3px;}
#mw-content-text a:visited       {color: #a0a0ff; text-shadow: #222 2px 2px 2px;}
a.external               {color: #E9D8FF;}
a.printable              {text-decoration: underline;}
a.stub, #quickbar a.stub {color:#772233;}
a.new, #quickbar a.new   {color: #CC2200;}


/* HEADERS */
h1, h2, h3, h4, h5, h6   {color: #eeeeee;
                          font-family: Verdana,Arial,sans-serif;
                          margin-bottom: 0.1ex; margin-top: 0.1ex;}
#mw-content-text h1,
#mw-content-text h2,
#mw-content-text h3,
#mw-content-text h4      {color: #eeeeee; margin-left: 0; margin-bottom: 0.5ex; margin-top: 1ex;}
#mw-content-text h1      {padding-top:10px; margin-right:10px; border-bottom: 1px #eee solid;}
h1 .mw-headline          {font-size: 20px;}
h2 .mw-headline          {font-size: 16px;   margin-left: 5px}
h3 .mw-headline          {font-size: 14.5px; margin-left: 5px}
h4 .mw-headline          {font-size: 14.5px; margin-left: 5px}
h1 .mw-headline:before   {content: '';}
h2 .mw-headline:before   {content: '\25b8';}
h3 .mw-headline:before   {content: '\25b8\25b8'; }
h4 .mw-headline:before   {content: '\25b8\25b8\25b8';}
.mw-headline:before      {margin-right: 5px; margin-top:-20px; letter-spacing: -4px; font-size:20px; text-shadow: #111 2px 2px 2px;} 
.mw-headline             {color: #EEF; text-shadow: #111 2px 2px 2px;}
.editsection             {margin-right: 5px;}

/* LEFT SHIFT AFTER H1 HEADERS */
#mw-content-text > * + p,
.wikiEditor-preview-contents > * + p         {margin-left: 15px;}
#mw-content-text > *,
.wikiEditor-preview-contents > *             {margin-left: 15px;}

#mw-content-text > p:first-child,
#mw-content-text > p:first-child + p,
#mw-content-text > p:first-child + p + p,
#mw-content-text > p:first-child + p + p + p,
#mw-content-text > p:first-child + p + p + p + p,
.wikiEditor-preview-contents > p:first-child,
.wikiEditor-preview-contents > p:first-child + p,
.wikiEditor-preview-contents > p:first-child + p + p,
.wikiEditor-preview-contents > p:first-child + p + p + p,
.wikiEditor-preview-contents > p:first-child + p + p + p + p {margin-left: 0px;}

#mw-content-text ul,
#mw-content-text ol              {margin-left: 5px;}
#mw-content-text hr              {margin-left: 0px;}
#mw-content-text table           {margin-left: 0px;}

/* MEDIAWIKI SPECIALS */
.TablePager th           {background-color: #444;}
.TablePager td           {background-color: #555;}
.imagelist th.TablePager_sort { background-color: #555 }/* defines the 'sort-by' col bg (in Filelist)*/
.TablePager tr:hover td  {background-color: #666 }/* defines the row bg on hover(in Filelist)*/
.gallery *               {background-color: #555;}
.gallery                 {background-color: #555; border: 2px #222 solid;}
.gallery td              {border: 1px #222 solid;}
.thumb                   {border: 1px #444 solid;}

#pagehistory li          {background-color: #3A4A50;}
#pagehistory li.selected {background-color: #233; border: 1px #fff solid;}
#pagehistory .autocomment,
#pagehistory .comment    {color: #ccc;}

#userloginForm h2        {display: none;}
#userloginlink           {color: red; font-size: 15pt; line-height: 19pt}

/* many !importants because ResourceLoader loads WikiEditor CSS *after* skin CSS... */
table.diff               {background-color: #3A4A50 !important; border: 1px #aaa solid;}
td.diff-otitle,
td.diff-ntitle           {background-color: #41545c !important; border: 1px #aaa solid;}
td.diff-context          {background-color: #41545c !important;}
td.diff-marker,
td.diff-lineno           {background-color: transparent;}
col.diff-content         {border: 10px solid #000000;}
td.diff-deletedline      {background-color: #a44 !important;}
td.diff-addedline        {background-color: #4a4 !important;}
ins.diffchange           {background-color: #32A032; color: #050;}
del.diffchange           {color: #f33;}
small                    {font-size: 75%;}
#catlinks                {margin: 0 10px 10px 10px;
                          padding: 7px;
                          text-align: center;
                          border-color: #20292E;
                          background-color: #38474E;
                          border-radius: 10px;
                          box-shadow: 0 0 2px rgba(0,0,0,0.4);}


/* CUSTOM LEGEND CLASS */
.legend                  {border-spacing: 0px; padding: 0px;
                          border: 0px; background: transparent;}
.legend tr               {padding: 0px; margin: 0px;}
.legend th               {line-height: 20px;
                          background: transparent url("/images/news_bar.png");}
.legend td               {padding: 2px; margin: 0px;
                          border: 1px solid #20292E; border-right:0px; border-top:0px; background: #38474e;}

.note                    {color: #55ee99;}
.warning                 {color: red;}
code                     {font-size: 90%; color: #9f9;}
code *                   {margin: 2px 0px 2px 10px;}
code pre                 {padding-left: 5px; border-left: #333 1px solid; background: url("/images/codebg.png") repeat-y}


/* FIXES FOR MEDIAWIKI 1.16.0 */
.headertd                {line-height: 0;}
body.ns-0                {background-color: transparent;} /* fix white background */
table.wikitable          {background-color: inherit;} /* fix white-on-white wikitables */
table.wikitable > tr > th,
table.wikitable > * > tr > th {background-color: #38474E;}
.mw-search-formheader    {background-color: inherit;} /* fix backgroundcolors in search */
fieldset#mw-searchoptions{background-color: inherit;}
.mw-content-ltr ul, .mw-content-rtr ul,
.mw-content-ltr ol, .mw-content-rtr ol {padding-left: 40px;}

/* FIXES FOR WikiEditor (since MEDIAWIKI 1.19) */
/* many !importants because ResourceLoader loads WikiEditor CSS *after* skin CSS... */
.wikiEditor-ui {background-color: inherit !important;}
.wikiEditor-ui-toolbar .toolbar {background: inherit; padding-left: 0px;}
#mw-content-text .wikiEditor-ui-tabs a,
#mw-content-text .wikiEditor-ui-toolbar a {color: #0645AD; text-shadow: none;}
.wikiEditor-preview-loading {background-color: inherit !important;}
.wikiEditor-preview-contents {background-color: inherit !important;}
.wikiEditor-ui-text textarea {width: 100%;}
#mw-content-text .wikiEditor-ui-toolbar .page-table th {color: #999999;}
#mw-content-text .wikiEditor-ui-toolbar .page-table td {color: black;}
#mw-content-text .wikiEditor-ui-toolbar .page-table h1,
#mw-content-text .wikiEditor-ui-toolbar .page-table h2,
#mw-content-text .wikiEditor-ui-toolbar .page-table h3,
#mw-content-text .wikiEditor-ui-toolbar .page-table h4,
#mw-content-text .wikiEditor-ui-toolbar .page-table h5 {color: black; margin: 3px;}
ul#filetoc {background-color: transparent; border: none;}
.success, .warning, .error {font-size: inherit;}



@media (max-width: 900px) {
	#qbspecialpages   {display:none}
}
@media (max-width: 700px) {
	#mw-content-text  {font-size: 13px;}
	#qbbrowse         {display:none;}
	#toc              {display:block; float:none; margin-right: 10px;}
}
@media (max-width: 500px) {
	#qbpageoptions    {display:none}
}