@import url("/styles.css");


/* HTML-BODY */
html {
  min-height: 100%;
  margin-bottom: 0.01em;
}


/* MEDIAWIKI */
#article                 {width: auto; overflow: hidden;
                          margin-left: 10px; margin-right: 0; padding-top: 10px;
                          font-family: Verdana, Arial, sans-serif;
                          font-size: 10pt; color: #eeeeee;}
#article > *             {margin-right: 10px;}
#article > td            {margin-right: 0;}
#specialform             {display: inline;}
#content                 {top: 0; margin: 0; padding: 0;}
#topbar                  {padding: 0px;}
#powersearch             {background: #38474e; border: solid 1px #20292E; padding: 5px;}
#powersearch *           {margin: 2px !important;}
#quickbar                {position: relative; left: 4px; top: 18px; 
                          width: 140px; padding: 0; margin-top: 0;
                          visibility: visible; z-index: 99;
                          font-family: Verdana, Arial, sans-serif;
                          font-size: 8pt; font-weight: bold; line-height: 9.5pt;
                          text-decoration: none;
                          color: black;}
#quickbar a              {color: #468;}
#quickbar h6             {padding: 0; margin-bottom: 2px; margin-top: 6px;
                          font-family: Verdana, Arial, sans-serif;
                          font-size: 10pt; font-weight: bold; line-height: 12pt;
                          text-decoration: none;
                          color: #666;}
#quickbar form           {padding: 0; margin-top: 0;}
#sitetitle               {color: white; font-family: Times, serif;
                          font-weight: normal; font-size: 32pt;
                          line-height: 32pt;}
.bottom                  {font-family: Verdana, Arial, sans-serif; font-size: 10pt;}
.bottom h6               {font-size: 13px; font-weight: bold;}
.toolbar                 {background: url("/images/news_bar.png") no-repeat;
                          padding-left: 12px;    
                          font-family: Verdana, Arial, sans-serif;
                          font-size: 12px; font-weight:bold;
                          color: #EEE;}
.catlinks                {font-family: Verdana, Arial, sans-serif;
                          font-size: 13px;}
#footer                  {padding: 4px;}
#footer *                {font-family: Verdana, Arial, sans-serif; font-size: 10pt;}
#footer form             {display: inline;}
#footer td.top           {background-color: #6688AA; color: white;
                          margin-top: 4px; margin-bottom: 4px;
                          padding-top: 0; padding-bottom: 0;
                          text-transform: uppercase;
                          font-size: 8pt;}
#footer td.top a         {background-color: #6688AA; color: white;
                          text-decoration: none; font-size: 10pt;}
#footer td.bottom        {font-size: 10pt; padding: 0;}
#pagestats               {font-family: Verdana, Arial, sans-serif;
                          font-size: 9pt; color: black;}
#sitesub                 {font-family: Verdana, Arial, sans-serif;
                          font-size: 9pt; font-weight: bold;
                          color: black;
                          padding-top: 0;}


/* TABLE OF CONTENT */
@media (min-width: 1200px) {
  #toc[summary=Contents]  {position: relative; right:0px; top:5px; width:240px; overflow: hidden;
                           border: 1px solid #111; border-spacing: 0px;
						   -webkit-border-radius: 10px; -moz-border-radius: 10px;border-radius: 10px;
                           background: #38464F;}
  #toc tr td > ul         {margin-top: 0.5ex; margin-right: 0.5ex;}
}
@media (max-width: 1199px) {
  #toc[summary=Contents]  {background: transparent; border: none; border-spacing: 0px;}
  #toc div                {line-height: 20px; padding-left: 5px; padding-right: 5px;
                           border-bottom: 1px solid #20292E;
                           background: transparent url("/images/news_bar.png");}
  #toc                    {margin-left: 5px; margin-right: 0; padding: 0;} 
  #toc td                 {margin: 0; padding: 0;} 
  #toc tr td > ul         {margin: 0; padding: 5px;
                           border: 1px solid #20292E; border-right:0px; border-top:0px; background: #38474e;}
}
#toc tr td ul ul         {margin-left: 2.5ex;}
#toc                     {background-color: #38474E; border-color: #20292E;
                          float: right;}
#toc *                   {color: #EEE; text-shadow: #41545F 2px 2px 2px;}
#toctitle h2             {font-size: 10pt}
.tocnumber               {content: '\2022'; text-shadow: #111 2px 2px 2px;}


/* SOME STUFF */
#article p               {margin-top: 1ex;
                          font-family: Verdana, Arial, sans-serif;
                          font-size: 10pt; color: #eeeeee;}
#article td,#article th  {font-family: Verdana, Arial, sans-serif;
                          font-size: 10pt; color: #eeeeee;}
#article p.subtitle      {color: #666666; font-size: 11pt; font-weight: bold;
                          padding-top: 0; margin-top: 0; padding-bottom: 1ex;}
p, pre, td, 
th, li, dd, dt           {line-height: 12pt;}
textarea                 {overflow: auto;}
hr                       {border-bottom: 1px #eee solid;}

/* if first element is H1 undo the padding-top:10px from #article */
#article > a:first-child + h1,
#article > table:first-child + script + a + h1 {margin-top: -5px}


/* LINKS */
a:link,a:visited         {color: #D8EFFF; text-decoration: none;}
a:hover                  {text-decoration: underline;}
#article a.new           {color: #f55; text-decoration: none; text-shadow: #333 2px 2px 3px;}
#article a               {color: #bbf; text-decoration: none; text-shadow: #333 2px 2px 3px;}
#article a:visited       {color: #a0a0ff; text-decoration: none; text-shadow: #222 2px 2px 2px;}
#article a:hover         {text-decoration: underline;}
a.external               {color: #E9D8FF;}
a.printable              {text-decoration: underline;}
a.stub, #quickbar a.stub {color:#772233; text-decoration:none;}
a.new, #quickbar a.new   {color: #CC2200;}


/* HEADERS */
h1, h2, h3, h4, h5, h6   {color: #eeeeee;
                          font-family: Verdana,Arial,sans-serif;
                          margin-bottom: 0.1ex; margin-top: 0.1ex;}
#article h1,
#article h2, 
#article h3,
#article h4              {color: #eeeeee; margin-left: 0; margin-bottom: 0.5ex; margin-top: 1ex;
                          font-family: Arial,Tahoma,"Bitstream Vera Sans","Tiresias Signfont",Verdana,FreeSans,sans-serif;}
#article h1              {padding-top:10px; padding-bottom: 7px; border-bottom: 1px #eee solid;}
h1 .mw-headline          {font-size: 20px;}
h2 .mw-headline          {font-size: 16px;   margin-left: 5px}
h3 .mw-headline          {font-size: 14.5px; margin-left: 5px}
h4 .mw-headline          {font-size: 14.5px; margin-left: 5px}
h1 .mw-headline:before   {content: '';}
h2 .mw-headline:before   {content: '\25b8';}
h3 .mw-headline:before   {content: '\25b8\25b8'; }
h4 .mw-headline:before   {content: '\25b8\25b8\25b8';}
.mw-headline:before      {margin-right: 5px; margin-top:-20px; letter-spacing: -4px; font-size:20px; text-shadow: #111 2px 2px 2px;} 
.mw-headline             {color: #EEF; text-shadow: #111 2px 2px 2px;} 
.editsection             {margin-right: 5px;}

/* LEFT SHIFT AFTER H1 HEADERS */
#article > * + p         {margin-left: 15px;}
#article > *             {margin-left: 15px;}

#article > p:first-child,
#article > p:first-child + p,
#article > p:first-child + p + p,
#article > p:first-child + p + p + p,
#article > p:first-child + p + p + p + p {margin-left: 0px;}

#article ul,
#article ol              {margin-left: 5px;}
#article hr              {margin-left: 0px;}
#article table           {margin-left: 0px;}


/* MEDIAWIKI SPECIALS */
.TablePager th           {background-color: #444;}
.TablePager td           {background-color: #555;}
.gallery *               {background-color: #555;}
.gallery                 {background-color: #555; border: 2px #222 solid;}
.gallery td              {border: 1px #222 solid;}
.thumb                   {border: 1px #444 solid;}

#pagehistory li          {background-color: #3A4A50;}
#pagehistory li.selected {background-color: #233; border: 1px #fff solid;}
#pagehistory .autocomment,
#pagehistory .comment    {color: #ccc;}

table.diff               {background-color: #3A4A50; border: 1px #aaa solid;}
td.diff-otitle,
td.diff-ntitle           {background-color: #41545c; border: 1px #aaa solid;}
td.diff-context          {background-color: #41545c;}
td.diff-marker,
td.diff-lineno           {background-color: transparent;}
col.diff-content         {border: 10px solid #000000;}
td.diff-deletedline      {background-color: #a44;}
td.diff-addedline        {background-color: #4a4;}
ins.diffchange           {background-color: #32A032; color: #050;}
del.diffchange           {color: #f33;}
small                    {font-size: 75%;}
#categories              {margin-bottom: 10px}


/* CUSTOM LEGEND CLASS */
.legend                  {border-spacing: 0px; padding: 0px;
                          border: 0px; background: transparent;}
.legend tr               {padding: 0px; margin: 0px;}
.legend th               {line-height: 20px; 
                          background: transparent url("/images/news_bar.png");}
.legend td               {padding: 2px; margin: 0px;
                          border: 1px solid #20292E; border-right:0px; border-top:0px; background: #38474e;}

.note                    {color: #55ee99;}
.warning                 {color: red;}
code                     {font-size: 90%; color: #9f9;}
code *                   {margin: 2px 0px 2px 10px;}
code pre                 {padding-left: 5px; border-left: #333 1px solid; background: url("/images/codebg.png") repeat-y}