#wrapper {
	margin-top: 60px;
}

.header-navbar-background {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #222;
	height: 40px;
	border-bottom: 2px solid #555;
	z-index: 999999;
}

.header-navbar-container {
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 1000px;
}

.header-navbar-container img.spring-logo {
	float: left;
	max-width: 175px;
	margin-left: 15px;
	margin-top: 4px;
}

.header-navbar-menu {
	margin-top: 14px;
	margin-right: 15px;
	float: right;
}

.header-navbar-menu ul {
	display: inline-block;
	list-style: none;
}

.header-navbar-menu ul li {
	float: left;
	margin-left: 5px;
	margin-right: 5px;
}

.header-navbar-menu ul li a {
	color: #fff;
	text-decoration: none !important;
}

.header-navbar-menu ul li a:hover {
	color: #fff;
	text-shadow: 0px 0px 10px #fff;
	text-decoration: none;
}

@media screen and (max-width: 750px) {
	#wrapper {
		margin-top: 80px;
	}

	.header-navbar-background {
		height: 80px;
	}
	.header-navbar-menu {
		margin-top: 14px;
		margin-left: 15px;
		margin-right: 15px;
		float: right;
	}
}