/* Responsive fixes */

/* Important is bad mmmk? Unfortunately a lot of these require it and in this particular case it's not so terrible of a sin, but try not to use important unless you really really have to (says the guy who uses important like it's going out of style below */

#wrap {
	min-width: 0px !important; /* Adding important and 0px default value because phpbb is mental and likes to dynamically overwrite */
}
	
@media screen and (max-width: 700px) {
	dd.topics {
		display: none !important;
	}
	dd.posts {
		display: none !important;
	}
	dd.views {
		display: none !important;
	}
	dd.lastpost {
		display: none !important;
	}
	dt {
		float: none !important;
		width: 100%;
	}
	dd.posts {
		float: none !important;
		width: 100%;
	}
	dd.views {
		float:  none !important;
		width: 100%;
	}
	div.list-inner {
		margin: 0 !important;
	}
	.search-box {
		float: right !important;
	}
}

@media screen and (max-width: 375px) {
	.search-box {
		clear: both;
		float: none !important;
	}
}

/* Fix posting box responsiveness -- important because too tired to deal with phpbb's crap tonight */
fieldset.fields1 dd {
    margin-left: 0px !important;
}

#message-box {
  width: 99.2% !important;
}

#smiley-box {
   float: none !important;
    width: 100% !important;
}

#message-box textarea {
    width: 99.2% !important;
}

	/* This fixes the ucp pm box */
	@media screen and (max-width: 375px) {
		#cp-main .panel div.column2 {
			float: none !important;
		}
	}
	
/* End Posting box fixes */

/* Fix avatars responsive */
@media screen and (max-width: 700px) {
	.postprofile {
		float: none !important;
	}
	.postbody {
		width: 100% !important;
	}
	.postprofile dd, .postprofile dt {
		margin-left: 0px !important;
	}
	.post .postprofile {
		display: block !important;
		padding-bottom: 0px !important;
		border-bottom: 1px solid #fff !important;
	}
}

/* Sexy Additions */

.postbody img.postimage {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
	max-width: 99% !important;
	background-color: rgba(255,255,255,1);
	border: 1px dashed #999;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

/* FontAwesome Overrides -- Proof of concept */
/*
dl.icon.forum_unread:before {
    font-family: FontAwesome;
    color: #bd3556;
    border: 1px solid #bd3556;
    position: absolute;
    top: 20%;
    left: 0.7%;
    font-size: 18px;
    content: "\f1ea";
    background-color: #fff;
    padding: 5px;
    border-radius: 500px;
    box-shadow: 0px 0px 2px #000;

    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #FDFEFE),
        color-stop(1, #E0E1E5)
    );
    background-image: -o-linear-gradient(bottom, #FDFEFE 0%, #E0E1E5 100%);
    background-image: -moz-linear-gradient(bottom, #FDFEFE 0%, #E0E1E5 100%);
    background-image: -webkit-linear-gradient(bottom, #FDFEFE 0%, #E0E1E5 100%);
    background-image: -ms-linear-gradient(bottom, #FDFEFE 0%, #E0E1E5 100%);
    background-image: linear-gradient(to bottom, #FDFEFE 0%, #E0E1E5 100%);
}
dl.icon.forum_unread {
    background-image: none;
}
*/