/*  phpBB3 Style Sheet
    --------------------------------------------------------------
	Style name:			subsilver2
	Based on style:		subSilver (the default phpBB 2.0.x style)
	Original author:	Tom Beddard ( http://www.subblue.com/ )
	Modified by:		phpBB Group ( http://www.phpbb.com/ )
    --------------------------------------------------------------
*/

/* Layout
 ------------ */
* {
	/* Reset browsers default margin, padding and font sizes */
	margin: 0;
	padding: 0;
}

html {
	font-size: 100%;
}

body {
	color: #323D4F;
	background-color: #FFFFFF;
	font-size: 12px; /* This sets the default font size to be equivalent to 10px */
	margin: 0;
}

#wrapheader {
	height: auto !important;
	padding: 0;
}

#wrapcentre {
	margin: 0px 5px 0 5px;
}

#wrapfooter {
	text-align: center;
	clear: both;
}

#wrapnav {
	width: 100%;
	margin: 0;
	background-color: #ECECEC;
	border-width: 1px;
	border-style: solid;
	border-color: #A9B8C2;
}

#logodesc {
	background-color: #C1CAD2;
	background-image: url('./images/background.gif');
	background-repeat: repeat-x;
	background-position: center bottom;
	padding: 0 25px 15px 25px;
}

#menubar {
	margin: 0 3px;
}

#datebar {
	margin: 10px 25px 0 25px;
}

#findbar {
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

.forumrules {
	background-color: #F9CC79;
	border-width: 1px;
	border-style: solid;
	border-color: #BB9860;
	padding: 4px;
	font-weight: normal;
	font-size: 1.1em;
}

.forumrules h3 {
	color: red;
}

#pageheader { }
#pagecontent { }
#pagefooter { }

#poll { }
#postrow { }
#postdata { }


/*  Text
 --------------------- */
h1 {
	color: black;
	font-weight: bold;
	font-size: 1.8em;
	text-decoration: none;
}

h2 {
	font-weight: bold;
	font-size: 1.5em;
	text-decoration: none;
	line-height: 120%;
}

h3 {
	font-size: 1.3em;
	font-weight: bold;
	line-height: 120%;
}

h4 {
	color: #EEE;
	margin: 0;
	font-size: 1.1em;
	font-weight: bold;
}

p {
	font-size: 1.1em;
}

p.moderators {
	margin: 0;
	float: left;
	color: black;
	font-weight: bold;
}

.rtl p.moderators {
	float: right;
}

p.linkmcp {
	margin: 0;
	float: right;
	white-space: nowrap;
}

.rtl p.linkmcp {
	float: left;
}

p.breadcrumbs {
	margin: 0;
	float: left;
	color: black;
	font-weight: bold;
	white-space: normal;
	font-size: 1.2em;
}

.rtl p.breadcrumbs {
	float: right;
}

p.datetime {
	margin: 0;
	float: right;
	white-space: nowrap;
	font-size: 1em;
}

.rtl p.datetime {
	float: left;
}

p.searchbar {
	padding: 2px 0;
	white-space: nowrap;
} 

p.searchbarreg {
	margin: 0;
	float: right;
	white-space: nowrap;
}

.rtl p.searchbarreg {
	float: left;
}

p.forumdesc {
	padding-bottom: 4px;
}

p.topicauthor {
	margin: 1px 0;
}

p.topicdetails {
	margin: 1px 0;
}

.postreported, .postreported a:link, .postreported a:visited, .postreported a:hover, .postreported a:active {
	margin: 1px 0;
	color: red;
	font-weight:bold;
}

.postapprove, .postapprove a:link, .postapprove a:visited, .postapprove a:hover, .postapprove a:active {
	color: green;
	font-weight:bold;
}

.postapprove img, .postreported img {
	vertical-align: bottom;
	padding-top: 5px;
}

.postauthor {
	color: black;
}

.postdetails {
	color: black;
}

.postbody {
	font-size: 15px;
	line-height: 1.4em;
	color: black;
}

.postbody li, ol, ul {
	margin: 0 0 0 1.5em;
}

/* added by Tobi (23/12/07): */
.postbody img {
	max-width: 560px;
}

.rtl .postbody li, .rtl ol, .rtl ul {
	margin: 0 1.5em 0 0;
}

.posthilit {
	background-color: yellow;
}

.nav {
	margin: 0;
	color: black;
	font-weight: bold;
}

.pagination {
	padding: 4px;
	color: black;
	font-size: 1em;
	font-weight: bold;
}

.cattitle {

}

.gen {
	margin: 1px 1px;
	font-size: 1.2em;
}

.genmed {
	margin: 1px 1px;
	font-size: 1.1em;
}

.gensmall {
	margin: 1px 1px;
	font-size: 1em;
}

.copyright {
	color: #444;
	font-weight: normal;
}

.titles {
	font-weight: bold;
	font-size: 1.3em;
	text-decoration: none;
}

.error {
	color: red;
}


/* Tables
 ------------ */
th {
	color: #FFA34F;
	font-size: 13px;
	font-weight: bold;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.35);
	background-color: #006699;
	background-image: url('./images/cellpic3.gif');
	background: linear-gradient(top, #E33, #911 100%);
	background: -o-linear-gradient(top, #E33, #911 100%);
	background: -moz-linear-gradient(top, #E33, #911 100%);
	background: -webkit-linear-gradient(top, #E33, #911 100%);
	background: -ms-linear-gradient(top, #E33, #911 100%);
 	box-shadow: inset 0px 1px rgba(255, 255, 255, 0.298), inset 0px 10px 20px rgba(255, 255, 255, 0.251), inset 0px -16px 20px rgba(0, 0, 0, 0.298);
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 5px 5px 0 0;
	white-space: nowrap;
	padding: 4px 5px;
}

.tablebg:nth-of-type(2) tr:first-child td.cat {
#	display: none;
	background: transparent;
	border: 0;
	box-shadow: none;
}
td {
	padding: 2px;
}
td.profile {
	padding: 4px;
}

.tablebg {
#	background-color: #A9B8C2;
}

.rtl {
	background: white url('./images/cellpic2_rtl.jpg') repeat-y scroll top right;
}

.cat,.catdiv {
	padding: 5px 0 5px 10px;
	background-color: #C7D0D7;
	background-image: url('./images/cellpic1.gif');
	background: linear-gradient(top, #34414A, #506673 100%);
	background: -o-linear-gradient(top, #34414A, #506673 100%);
	background: -moz-linear-gradient(top, #34414A, #506673 100%);
	background: -webkit-linear-gradient(top, #34414A, #506673 100%);
	background: -ms-linear-gradient(top, #34414A, #506673 100%);
 	box-shadow: inset 0px 1px rgba(255, 255, 255, 0.298), inset 0px 10px 20px rgba(255, 255, 255, 0.251), inset 0px -16px 20px rgba(0, 0, 0, 0.298);
	border-right:  1px solid #20292E;
	border-left:   1px solid #20292E;
	border-bottom: 1px solid #20292E;
	color: #EEE;
}

.cat h4 a:link, .cat h4 a:visited {
	color: inherit;
	font-size: 16px;
	font-weight:bold;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.35);
}

.row1 {
	background-color: #ECECEC;
	border-top: 1px solid #FFF;
	border-left: 1px solid #FFF;
	padding: 4px;
}

.row2 {
	background-color: #DCE1E5;
	border-top: 1px solid #FFF;
	border-left: 1px solid #FFF;
	padding: 4px;
}

.row3 {
	background-color: #C0C8D0;
	border-top: 1px solid #FFF;
	border-left: 1px solid #FFF;
	padding: 4px;
}

.spacer {
	background-color: #D1D7DC;
}

hr {
	height: 1px;
	border-width: 0;
	background-color: #D1D7DC;
	color: #D1D7DC;
}

.legend {
	text-align:center;
	margin: 0 auto;
}

/* Links
 ------------ */

/* Links adjustment to correctly display an order of rtl/ltr mixed content */
.rtl a {
	direction: rtl;
	unicode-bidi: embed;
}

/* CSS spec requires a:link, a:visited, a:hover and a:active rules to be specified in this order. */
/* See http://www.phpbb.com/bugs/phpbb3/59685 */
a:link {
	color: #006597;
	text-decoration: none;
}

a:visited {
	color: #005784;
	text-decoration: none;
}

a:hover {
	color: #D46400;
	text-decoration: underline;
}

a:active {
	color: #005784;
	text-decoration: none;
}

a.forumlink {
	color: #069;
	font-weight: bold;
	font-size: 1.2em;
}

a.topictitle {
	margin: 1px 0;
	font-weight: bold;
	font-size: 1.2em;
}

a.topictitle:visited {
	color: #5493B4;
	text-decoration: none;
}

th a,
th a:visited {
	color: #FFA34F !important;
	text-decoration: none;
}

th a:hover {
	text-decoration: underline;
}


/* Form Elements
 ------------ */
form {
	margin: 0;
	padding: 0;
	border: 0;
}

input {
	color: #000;
	font-size: 1.1em;
	font-weight: normal;
	padding: 1px;
	border: 1px solid #A9B8C2;
	background-color: #FAFAFA;
}

textarea {
	font-size: 16px;
	font-weight: normal;
	font-family: FreeSans, Arial, "DejaVu Sans", sans-serif;
	background-color: #FAFAFA;
	color: #000;
	border: none;
	box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.2), inset 1px 1px 2px rgba(0, 0, 0, 1);
	padding: 4px;
	resize: vertical;
}

select {
	color: #000;
	background-color: #FAFAFA;
	font-size: 1.1em;
	font-weight: normal;
	border: 1px solid #A9B8C2;
	padding: 1px;
}

option {
	padding: 0 1em 0 0;
}

option.disabled-option {
	color: graytext;
}

.rtl option {
	padding: 0 0 0 1em;
}

input.radio {
	border: none;
	background-color: transparent;
}

.post {
}

.btnbbcode {
	color: #000000;
	font-weight: normal;
	font-size: 1.1em;
	background-color: #EFEFEF;
	border: 1px solid #666666;
}

.btnmain {
	font-weight: bold;
	background-color: #ECECEC;
	border: 1px solid #A9B8C2;
	cursor: pointer;
	padding: 1px 5px;
	font-size: 1.1em;
}

.btnlite {
	font-weight: normal;
	background-color: #ECECEC;
	border: 1px solid #A9B8C2;
	cursor: pointer;
	padding: 1px 5px;
	font-size: 1.1em;
}

.btnfile {
	font-weight: normal;
	background-color: #ECECEC;
	border: 1px solid #A9B8C2;
	padding: 1px 5px;
	font-size: 1.1em;
}

.helpline {
	background-color: #DEE3E7;
	border-style: none;
}


/* BBCode
 ------------ */
.quotetitle, .attachtitle {
	margin: 10px 5px 0 5px;
	padding: 4px;
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: #A9B8C2;
	color: #333333;
	background-color: #A9B8C2;
	font-size: 0.85em;
	font-weight: bold;
}

.quotetitle .quotetitle {
	font-size: 1em;
}

.quotecontent, .attachcontent {
	margin: 0 5px 10px 5px;
	padding: 5px;
	border-color: #A9B8C2;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	font-weight: normal;
	font-size: 1em;
	line-height: 1.4em;
	background-color: #FAFAFA;
	color: #4B5C77;
}

.attachcontent {
	font-size: 0.85em;
}

.codetitle {
	margin: 10px 5px 0 5px;
	padding: 2px 4px;
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: #A9B8C2;
	color: #333333;
	background-color: #A9B8C2;
	font-size: 0.8em;
}

.codecontent {
	font-family: Monaco, 'Courier New', monospace;
	direction: ltr;
	margin: 0 5px 10px 5px;
	padding: 5px;
	border-color: #A9B8C2;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	font-weight: normal;
	color: #006600;
	font-size: 0.85em;
	background-color: #FAFAFA;
}

.syntaxbg {
	color: #FFFFFF;
}

.syntaxcomment {
	color: #FF8000;
}

.syntaxdefault {
	color: #0000BB;
}

.syntaxhtml {
	color: #000000;
}

.syntaxkeyword {
	color: #007700;
}

.syntaxstring {
	color: #DD0000;
}


/* Private messages
 ------------------ */
.pm_marked_colour {
	background-color: #000000;
}

.pm_replied_colour {
	background-color: #A9B8C2;
}

.pm_friend_colour {
	background-color: #007700;
}

.pm_foe_colour {
	background-color: #DD0000;
}


/* Misc
 ------------ */
img {
	border: none;
}

.sep {
	color: black;
	background-color: #FFA34F;
}

table.colortable td {
	padding: 0;
}

pre {
	font-size: 1.1em;
	font-family: Monaco, 'Courier New', monospace;
}

.nowrap {
	white-space: nowrap;
}

.username-coloured {
	font-weight: bold;
}


/* restrict size of phpbb quotes */
.quotecontent, .attachcontent, .codecontent {
	max-width: 787px; /* has to be absolute, else it doesn't restrict width */
	max-height: 1024px;
	overflow: auto;
}
