/*  phpBB3 Style Sheet
    --------------------------------------------------------------
	Style name:			spring
	Based on style:		prosilver
    --------------------------------------------------------------
*/

/* PhpBB specific Spring css */
@import url("spring.css");
