Options +FollowSymlinks
RewriteEngine on
RewriteRule ^wiki/(.*)$ /mediawiki/index.php?title=$1 [L,QSA]
RewriteRule ^wiki$ /mediawiki/index.php [L,QSA]

RewriteRule ^jwvideo(\d*).flv$ /screenshot.php?topic=$1&video=1 [L,QSA]
RewriteRule ^jwimage(\d*).jpg$ /screenshot.php?topic=$1 [L,QSA]

RewriteRule ^download /wiki/Download [L,R=301]
RewriteRule ^screenshots /media.php [L,R=301]
RewriteRule ^doxygen/(.*)$ http://spring.osocial.se/$1 [L,R=302]

RewriteRule ^git/$ /cgi-bin/gitweb.cgi [L,QSA]
RewriteRule ^stylesv([0-9]+).css /styles.css [NC]
RewriteRule ^indexv([0-9]+).css /index.css [NC]

# redirect for deprecated vclibs (moved to github)
RewriteRule ^dl/vclibs/spring-vc(8|9|10)libs(.*)$ https://github.com/spring/vclibs$1/ [L,R=301]
RewriteRule ^dl/vclibs/(.*)$ https://github.com/spring/vclibs10/ [L,R=301]


# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
