RewriteEngine on
RewriteRule ^/wiki/(.+)$ /mediawiki/index.php?title=$1 [L,QSA]

RewriteRule ^/jwvideo(\d*).flv$ /screenshot.php?topic=$1&video=1 [L,QSA]
RewriteRule ^/jwimage(\d*).jpg$ /screenshot.php?topic=$1 [L,QSA]

RewriteRule ^/download /mediawiki/index.php?title=Download [L,QSA]
RewriteRule ^/screenshots /media.php [L,QSA]
