Options +FollowSymlinks
RewriteEngine on
RewriteRule ^wiki/(.*)$ /mediawiki/index.php?title=$1 [L,QSA]
RewriteRule ^wiki$ /mediawiki/index.php [L,QSA]

RewriteRule ^jwvideo(\d*).flv$ /screenshot.php?topic=$1&video=1 [L,QSA]
RewriteRule ^jwimage(\d*).jpg$ /screenshot.php?topic=$1 [L,QSA]

RewriteRule ^download /wiki/Download [L,R=301]
RewriteRule ^screenshots /media.php [L,R=301]
RewriteRule ^doxygen http://spring.osocial.se/ [L,R=301]

RewriteRule ^git/$ /cgi-bin/gitweb.cgi [L,QSA]
RewriteRule ^stylesv([0-9]+).css /styles.css [NC]
RewriteRule ^indexv([0-9]+).css /index.css [NC]