/* Sigh. Why the heck hasn't this been reset??? Will figure it out and pretty it up when I get the will to mess with the wiki styles. Hopefully they suck slightly less than the needless style orgy that is phpbb. */

/* Are you effing kidding me phpbb??? */
.header-navbar-menu ul li {
	line-height: 14px;
}

/* I hate phpbb */
.header-navbar-menu {
	margin-top: 15px;
}

/* Now this is jsut getting pathetic -_- */
.header-navbar-menu ul {
	padding: 0;
	margin-top: 0px;
	margin-bottom: 0px;
}