@charset "utf-8";

a:link,
a:visited {
	color: #A3BDCF;
	text-decoration: none;
}
a:hover {
	color: #A3BDCF;
	text-decoration: underline;
}
.welcome {
	height: 239px;
	background-color: #38474E;
	background-position: top right;
	background-repeat: no-repeat;
	border-bottom: 1px solid #20292E;
}
#welcometext {
	float: left;
	padding: 10px;
	margin-left: 10px;
	margin-bottom: 10px;

	font-family: "DejaVu Sans", Verdana, Arial, sans-serif;
	line-height: 24px;
	font-size: 19px;
	color: #EEE;
}
.welcomesmall {
	font-size: 12px;
	font-weight: bold;
	margin-left: 2px;
	margin-bottom: -3px;
}
.byline {
	font-family: "DejaVu Sans", Verdana, Arial, sans-serif;
	font-size: 14px;
	color: #EEE;
}

.bigbar {
	font-family: "DejaVu Sans", Verdana, Arial, sans-serif;
	font-size: 24px;
	font-weight:bold;
	color: #EEE;
}

.bigbar td {
	text-align: right;
	vertical-align: middle;
}

.learnmorebar,
.downloadbar {
	padding-bottom: 16px;
}

.bigbar a {
	display: block;
	height: 45px;
	padding-top: 13px;
	padding-right: 8px;
}

.bigbar a:link,
.bigbar a:visited,
.bigbar a:hover {
	color: #EEE;
	text-decoration: none;
}

.bigbar a:hover {
	text-shadow: 0px 0px 10px rgba(255,255,255,0.9);
}

.learnmorebar,
.downloadbar,
.gamesbar {
	background-repeat: no-repeat;
	background-position: top right;
}

.learnmorebar { background-image: url(/images/notselected_learn.jpg); }
.downloadbar  { background-image: url(/images/notselected_download.jpg); }
.gamesbar     { background-image: url(/images/notselected_games.jpg); }

.learnmorebar:hover { background-image: url(/images/selected_learn.jpg); }
.downloadbar:hover  { background-image: url(/images/selected_download.jpg); }
.gamesbar:hover     { background-image: url(/images/selected_games.jpg); }




.mmleft  { background-image: url(/images/notselected_media_left.png); }
.mmmid   { background-image: url(/images/notselected_button_background.gif); }
.mmright { background-image: url(/images/notselected_media_right.png); }

.mmleftsel {
	background-image: url(/images/selected_media_left.png);
	background-position: -100px -100px;
	background-repeat: no-repeat;

}
.mmmidsel {
	background-image: url(/images/selected_button_background.gif);
	background-position: -100px -100px;
	background-repeat: repeat-x;
}
.mmrightsel {
	background-image: url(/images/selected_media_right.png);
	background-position: -100px -100px;
	background-repeat: repeat-x;
}

.mmleftsel:hover,
.mmmidsel:hover,
.mmrightsel:hover {
	background-position: 0 0;

}

.mmhide {
	display: none;
}
.mmshow {
	display: block;
}
.screendesc {
	font-family: "DejaVu Sans", Verdana, Arial, sans-serif;
	font-size: 12px;
	font-weight:bold;
	color: #EEE;
	background-color: #29353D;
	padding-left: 4px;
}

.news {
}
.newsbar {
	background-image: url(/images/news_bar.png);
	background-repeat:no-repeat;
	padding: 5px 0px 0px 7px;
	height: 20px;
	font-family: "DejaVu Sans", Verdana, Arial, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color: #EEE;
}
.newsitem {
	font-family: "DejaVu Sans", Verdana, Arial, sans-serif;
	font-size: 13px;
	color: #EEE;
	line-height: 16px;
	border-left: 1px solid #20292E;
	border-bottom: 1px solid #20292E;
	padding: 8px;
	background-color: #38474E;
}
.newsheadline {
	font-family: "DejaVu Sans", Verdana, Arial, sans-serif;
	font-size: 18px;
	color: #EEE;
	text-shadow: 2px 2px 2px #111;
}
.newsabout {
	font-family: "DejaVu Sans", Verdana, Arial, sans-serif;
	font-size: 11px;
	color: #EEE;
	line-height: 18px;
}
.newsbody {
	padding: 8px;
}
.cnews {
	float: right;
	clear: right;
	border-bottom: 1px solid #20292E;
	margin: 5px 0 24px 24px;
	width: 40%;
}
.cnews .newsitem {
	padding: 4px;
	border-bottom: none;
}
.cnews .newsheadline {
	font-size: 13px;
}
.cnews .newsheadline:before {
	content: '▸ ';
}
