@charset "utf-8";

a:link,
a:visited {
	color: #A3BDCF;
	text-decoration: none;
}
a:hover {
	color: #A3BDCF;
	text-decoration: underline;
}

.title {
	font-family: "DejaVu Sans", Verdana, Arial, sans-serif;
	color: #EEE;
}



.welcome {
	height: 239px;
	background-color: #38474E;
	background-position: top right;
	background-repeat: no-repeat;
	border-bottom: 1px solid #20292E;
}
#welcometext {
	float: left;
	padding: 10px;
	margin-left: 10px;
	margin-bottom: 10px;

	font-family: "DejaVu Sans", Verdana, Arial, sans-serif;
	font-size: 24px;
	color: #EEE;
}
.welcomesmall {
	font-size: 12px;
	font-weight: bold;
	margin-left: 2px;
	margin-bottom: -3px;
}
.byline {
	font-family: "DejaVu Sans", Verdana, Arial, sans-serif;
	font-size: 14px;
	color: #EEE;
}

.bigbar {
	font-family: "DejaVu Sans", Verdana, Arial, sans-serif;
	font-size: 24px;
	font-weight:bold;
	color: #EEE;
}

.learnmorebar,
.downloadbar {
	margin-bottom: 16px;
}

.bigbar a {
	display: block;
	height: 45px;
	padding-top: 13px;
	padding-right: 8px;
}

.bigbar a:link,
.bigbar a:visited,
.bigbar a:hover {
	color: #EEE;
	text-decoration: none;
}

.bigbar a:hover {
	text-shadow: 0px 0px 10px rgba(255,255,255,0.9);
}

.learnmorebar,
.downloadbar,
.gamesbar {
	background-image: url(/images/learn_download_games.jpg);
	background-repeat: no-repeat;
	text-align: right;
	vertical-align: middle;
}

.learnmorebar {background-position:right 0px;}
.downloadbar  {background-position:right -116px;}
.gamesbar     {background-position:right -232px;}

.learnmorebar:hover {background-position:right -58px;}
.downloadbar:hover  {background-position:right -174px;}
.gamesbar:hover     {background-position:right -290px;}


.mmleft,
.mmmid,
.mmright {background-color: #323f47;}

.mmleft  {border-top-left-radius: 5px;}
.mmright {border-top-right-radius: 5px;}

/* for less capable browsers */
.mmleft:hover  { background-image: url(/images/selected_media_left.png); }
.mmmid:hover   { background-image: url(/images/selected_button_background.gif); }
.mmright:hover { background-image: url(/images/selected_media_right.png); }

.mmleft:hover,
.mmmid:hover,
.mmright:hover {
	/* replicates the above images */
	background-image: linear-gradient(top, #323f47, #526977 100%);
	background-image: -o-linear-gradient(top, #323f47, #526977 100%);
	background-image: -moz-linear-gradient(top, #323f47, #526977 100%);
	background-image: -webkit-linear-gradient(top, #323f47, #526977 100%);
	background-image: -ms-linear-gradient(top, #323f47, #526977 100%);
}

.mmhide {
	display: none;
}
.mmshow {
	display: block;
}
.screendesc {
	font-family: "DejaVu Sans", Verdana, Arial, sans-serif;
	font-size: 12px;
	font-weight:bold;
	color: #EEE;
	background-color: #29353D;
	padding-left: 4px;
}

.news {
}
.newsbar {
	background-image: url(/images/news_bar.png);
	background-repeat:no-repeat;
	padding: 5px 0px 0px 7px;
	height: 20px;
	font-family: "DejaVu Sans", Verdana, Arial, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color: #EEE;
}
.newsitem {
	font-family: "DejaVu Sans", Verdana, Arial, sans-serif;
	font-size: 13px;
	color: #EEE;
	line-height: 16px;
	border-left: 1px solid #20292E;
	border-bottom: 1px solid #20292E;
	padding: 8px;
	background-color: #38474E;
}
.newsheadline {
	font-family: "DejaVu Sans", Verdana, Arial, sans-serif;
	font-size: 18px;
	color: #EEE;
	text-shadow: 2px 2px 2px #111;
}
.newsabout {
	font-family: "DejaVu Sans", Verdana, Arial, sans-serif;
	font-size: 11px;
	color: #EEE;
	line-height: 18px;
}
.newsbody {
	padding: 8px;
}
.cnews {
	float: right;
	clear: right;
	border-bottom: 1px solid #20292E;
	margin: 5px 0 24px 24px;
	width: 40%;
}
.cnews .newsitem {
	padding: 4px;
	border-bottom: none;
}
.cnews .newsheadline {
	font-size: 13px;
}
.cnews .newsheadline:before {
	content: '▸ ';
}


/* media page */
.mediabanner {
	background: url("images/contentheader.png");
	border-right: 1px solid #20292E;
	border-left:  1px solid #20292E;

	width: 760px;
	height: 93px;

	vertical-align: middle;
	padding-left: 25px;

	font-size: 25px;
}

.taglist {
	padding-left: 12px;
	margin: 0;
}

