@charset "utf-8";

body {
	margin: 0px;
	background-color: #38464F;
	background-image: url(/images/background.png);
	background-repeat:repeat-x;
	text-align:center;
}

#wrapper {
	text-align:left;
	margin:0 auto;
	width:760px;
	max-width:100%;
	margin-bottom: 18px;
}

#maincontentwrapper {
	margin-top: 4px;
	border-radius: 10px 10px 0px 7px;
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.7);
}

p {
	margin: 0px;
}

.banner {
	height: 105px;
	position: relative;
	background: transparent url(/images/banner.png) top left no-repeat;
}

.topbannershadow {
	width:100%;
	height: 98px;
	margin-top: 7px;
	border-radius: 6px 0px 0px 0px;
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.7);
}
.topbannerbg {
	position:absolute;
	width:100%;
	height:110px;
	background: transparent url(/imagerotate.php?cat=32) top right no-repeat;
}
#topbannerfade {
	float:right;
	height:110px;
	width:760px;
	background: transparent url(/images/bannerfade.png) top left no-repeat;
}
.banner a {
	position: absolute;
	z-index: 1001;
}
#menu ul {
	float:right;
	list-style:none;
	margin:0;
	padding:0;
	border-radius: 0px 0px 7px 7px;
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.7);
}
#menu li {
	float:left;
	margin:0;
	padding:0;
}
#menu a {
	display:block;
	padding-top: 3px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 8px;
	display: block;
	height: 18px;
	line-height: 14pt;
}
#menu, .menubar {
	font-family: "Trebuchet MS", Tahoma, Geneva, Verdana, Arial, sans-serif;
	font-size: 12px;
	font-weight:bold;
	color: #EEEEEE;
}
#menu {
	height: 25px;
	padding: 0;
	margin: 0 0 4px 0;
}
table.menubar td {
	line-height: 0;
	padding: 0;
}
.headertd {
	padding: 0;
}
#menu .headermenuleft {
    background-image: url(/images/notselected_button_left.png);
}
#menu .headermenuleftlink {
    background-image: url(/images/selected_button_left.png);
    background-position: -100px -100px;
    background-repeat: no-repeat;
}
#menu .headermenuleftlink:hover {
    background-position: 0px 0px;
}
#menu .headermenu {
    background-image: url(/images/notselected_button_background.gif);
}
#menu .headermenulink {
    background-image: url(/images/selected_button_background.gif);
    background-position: -100px -100px;
    background-repeat: repeat-x;
}
#menu .headermenulink:hover {
    background-position: 0px 0px;
}
#menu .headermenuright {
    background-image: url(/images/notselected_button_right.png);
    background-position: right;
    margin: 0px;
    padding: 0px;
}
#menu .headermenurightlink {
    background-image: url(/images/selected_button_right.png);
    background-position: -100px -100px;
    background-repeat: no-repeat;
}
.headermenurightlink:hover {
    background-position: 0px 0px;
    background-position: right;
}

a.menubar:link {
    color: #eeeeee;
    text-decoration: none;
}
a.menubar:visited {
    color: #eeeeee;
    text-decoration: none;
}
a.menubar:hover {
    color: #eeeeee;
    text-decoration: none;
}

.locationbar {
	background-image: url(/images/location_bar.png);
	background-repeat:no-repeat;
	padding: 0px;
	padding-left: 12px;
	font-family: "Trebuchet MS", Tahoma, Geneva, Verdana, Arial, sans-serif;
	font-size: 12px;
	font-weight:bold;
	color: #EEEEEE;
}
.bottombar {
    background-image: url(/images/bottom.png);
    background-repeat: no-repeat;
    padding-left: 12px;
    font-family: "Trebuchet MS", Tahoma, Geneva, Verdana, Arial, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #EEEEEE;
    padding-right: 6px;
    vertical-align: center;
    overflow: hidden;
}
a.bottomlink:link {
    color: #A3BDCF;
    text-decoration: none;
}
a.bottomlink:visited {
    color: #A3BDCF;
    text-decoration: none;
}
a.bottomlink:hover {
    color: #A3BDCF;
    text-decoration: underline;
}
a {
    outline: none;
}
#frontrightbuttons {
	width:100%;
	max-width:465px;
}

#welcometext {
	float: left;
	padding: 10px;
}
.welcome {
	background-position: top right;
}
#welcometext p{
	margin-bottom:3px;
}


#toplogo {
	display:block;
	padding-left: 10px;
	padding-top: 18px;
	width:400px;
	height:74px;
	background: transparent url(/images/logo.png) 10px 18px no-repeat;
}

#frontmediavideotd {
	width:200px;
}

#frontvideomedia .menubar a {
	padding-left: 8px;
	padding-right: 8px;
	line-height: 25px;
	height: 25px;
	float:left;
}


@media screen and (max-width: 760px) {
	#wrapper {
		width:100%;
	}
	#frontmediavideotd, #frontvideomedia {
		display:none;
	}
	#frontrightbuttons {
		width:100%;
		max-width:100%;
	}
	#menu a {
		padding-left:7px;
		padding-right:7px;
	}
	#menu {
	    background-image: url(/images/notselected_button_background.gif);
	}
	.separator {
		display:none;
	}
}
@media screen and (max-width: 633px) {
	#menu {
		height:58px;
	}
	#toplogo {
		display:block;
		padding-left: 10px;
		padding-top: 18px;
		width:300px;
		height:74px;
		background: transparent url(/images/logosmall.png) 10px 25px no-repeat;
	}
}
