@charset "utf-8";

html {
	min-height: 100%; /* workaround: else background gradient is clamped with Opera */
	background-color: #38464F;
	background-image: url(/images/background.png);
	background-repeat:repeat-x;

	/* replicates the image based background */
	background-image: linear-gradient(top, #8498a3, #38464F 765px);
	background-image: -o-linear-gradient(top, #8498a3, #38464F 765px);
	background-image: -moz-linear-gradient(top, #8498a3, #38464F 765px);
	background-image: -webkit-linear-gradient(top, #8498a3, #38464F 765px);
	background-image: -ms-linear-gradient(top, #8498a3, #38464F 765px);

	/* a nice ellipse gradient */
	/*background-image: -ms-radial-gradient(center bottom, ellipse farthest-corner, #65747d 0%, #38464F 100%);
	background-image: -moz-radial-gradient(center bottom, ellipse farthest-corner, #65747d 0%, #38464F 100%);
	background-image: -o-radial-gradient(center bottom, ellipse farthest-corner, #65747d 0%, #38464F 100%);
	background-image: -webkit-radial-gradient(center bottom, ellipse farthest-corner, #65747d 0%, #38464F 100%);
	background-image: radial-gradient(center bottom, ellipse farthest-corner, #65747d 0%, #38464F 100%);*/
}

body {
	margin: 0px;
	text-align:center;
	background-color: transparent; /* override one of oldshared.css */
}

#wrapper {
	text-align:left;
	margin:0 auto;
	width:760px;
	max-width:100%;
	margin-bottom: 18px;
}

#maincontentwrapper {
	float: left;
	margin-top: 4px;
	border-radius: 10px 10px 0px 7px;
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.7);
	width: 100%;
}

p {
	margin: 0px;
}

.banner {
	height: 105px;
	position: relative;
	background: transparent url(/images/banner.png) top left no-repeat;

	/* disable banner.png and replicate it in css3 (in .topbannershadow) if supported */
	background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0));
	background-image: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0));
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0));
}

.topbannershadow {
	width:  100%;
	height: 94px;
	margin-top: 7px;
	border-radius: 6px 0px 0px 0px;

	/* replicate banner.png */
	background-image: linear-gradient(right top, #4F4F5F, #323f47 45%);
	background-image: -o-linear-gradient(right top, #4F4F5F, #323f47 45%);
	background-image: -moz-linear-gradient(right top, #4F4F5F, #323f47 45%);
	background-image: -webkit-linear-gradient(right top, #4F4F5F, #323f47 45%);
	background-image: -ms-linear-gradient(right top, #4F4F5F, #323f47 45%);
	border-bottom: 3px solid #4a7791; /* bright bottom line */
	box-shadow:
		0px 0px 10px 1px rgba(0,0,0,0.7), /* shadow (not part of banner.png) */
		inset 0px -1px 0px #30404a,       /* bottom line top gradient */
		0px 1px 0px #5386a3;              /* bottom line bottom gradient */
}
.topbannerbg {
	position:absolute;
	width:100%;
	height:110px;
	background: transparent url(/imagerotate.php?cat=32) top right no-repeat;
}
#topbannerfade {
	float: left;
	margin-top: 7px;
	border-radius: 10px 0px 0px 0px;
	background-image: linear-gradient(left, rgba(46,58,66,1) 30%, rgba(46,58,66,0));
	background-image: -o-linear-gradient(left, rgba(46,58,66,1) 30%, rgba(46,58,66,0));
	background-image: -moz-linear-gradient(left, rgba(46,58,66,1) 30%, rgba(46,58,66,0));
	background-image: -webkit-linear-gradient(left, rgba(46,58,66,1) 30%, rgba(46,58,66,0));
	background-image: -ms-linear-gradient(left, rgba(46,58,66,1) 30%, rgba(46,58,66,0));
	height: 94px;
	width:  40%;
	min-width: 200px;
}
.banner a {
	position: absolute;
	z-index: 1001;
}
#menu ul {
	float:right;
	list-style:none;
	margin:0;
	padding:0;
	height: 25px;
	border-radius: 0px 0px 7px 7px;
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.7);
}
#menu li {
	float:left;
	margin:0;
	padding:0;
}
#menu a {
	display: block;
	padding-top: 3px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 8px;
	height: 18px;
	line-height: 14pt;
}
#menu, .menubar {
	font-family: "Trebuchet MS", Tahoma, Geneva, Verdana, Arial, sans-serif;
	font-size: 12px;
	font-weight:bold;
	color: #EEEEEE;
}
#menu {
	height: 25px;
	padding: 0;
	margin: 0 0 4px 0;
}
table.menubar td {
	line-height: 0;
	padding: 0;
}
.headertd {
	padding: 0;
}
#menu .headermenuleft {
    background-image: url(/images/notselected_button_left.png);
}
#menu .headermenuleftlink {
    background-image: url(/images/selected_button_left.png);
    background-position: -100px -100px;
    background-repeat: no-repeat;
}
#menu .headermenuleftlink:hover {
    background-position: 0px 0px;
}
#menu .headermenu {
    background-image: url(/images/notselected_button_background.gif);
}
#menu .headermenulink {
    background-image: url(/images/selected_button_background.gif);
    background-position: -100px -100px;
    background-repeat: repeat-x;
}
#menu .headermenulink:hover {
    background-position: 0px 0px;
}
#menu .headermenuright {
    background-image: url(/images/notselected_button_right.png);
    background-position: right;
    margin: 0px;
    padding: 0px;
}
#menu .headermenurightlink {
    background-image: url(/images/selected_button_right.png);
    background-position: -100px -100px;
    background-repeat: no-repeat;
}
#menu .headermenurightlink:hover {
    background-position: 0px 0px;
    background-position: right;
}

a.menubar:link {
    color: #eeeeee;
    text-decoration: none;
}
a.menubar:visited {
    color: #eeeeee;
    text-decoration: none;
}
a.menubar:hover {
    color: #eeeeee;
    text-decoration: none;
}

.locationbar {
	background-image: url(/images/location_bar.png);
	background-repeat:no-repeat;
	padding: 0px;
	padding-left: 12px;
	font-family: "Trebuchet MS", Tahoma, Geneva, Verdana, Arial, sans-serif;
	font-size: 12px;
	font-weight:bold;
	color: #EEEEEE;
}
.bottombar {
    background-image: url(/images/bottom.png);
    background-repeat: no-repeat;
    padding-left: 12px;
    font-family: "Trebuchet MS", Tahoma, Geneva, Verdana, Arial, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #EEEEEE;
    padding-right: 6px;
    vertical-align: middle;
    overflow: hidden;
}
a.bottomlink:link {
    color: #A3BDCF;
    text-decoration: none;
}
a.bottomlink:visited {
    color: #A3BDCF;
    text-decoration: none;
}
a.bottomlink:hover {
    color: #A3BDCF;
    text-decoration: underline;
}
a {
    outline: none;
}
#frontrightbuttons {
	width:100%;
	max-width:465px;
}

#welcometext {
	float: left;
	padding: 10px;
}
.welcome {
	background-position: top right;
}
#welcometext p{
	margin-bottom:3px;
}


#toplogo {
	display:block;
	padding-left: 10px;
	padding-top: 18px;
	width:400px;
	height:74px;
	background: transparent url(/images/logo.png) 10px 18px no-repeat;
}

#frontmediavideotd {
	width:200px;
}

#frontvideomedia .menubar a {
	padding-left: 8px;
	padding-right: 8px;
	line-height: 25px;
	height: 25px;
	float:left;
}


@media screen and (max-width: 760px) {
	.topbannershadow {
		border-radius: 0;
	}
	#wrapper {
		width:100%;
	}
	#frontmediavideotd, #frontvideomedia {
		display:none;
	}
	#frontrightbuttons {
		width:100%;
		max-width:100%;
	}
	#topbannerfade {
		border-radius: 0;
	}
	#menu a {
		padding-left:7px;
		padding-right:7px;
	}
	#menu {
		height: auto;
		background-image: url(/images/notselected_button_background.gif);
		margin-bottom: 4px;
	}
	#menu ul {
		border-radius: 0;
		box-shadow: none;
		float: none;
		height: auto;
	}
	#menu a {
		display: inherit;
		height: auto;
		line-height: auto;
	}
	#menu li {
		display: inline-block;
		height: auto;
	}
	#menu .headermenuleftlink,
	#menu .headermenurightlink {
		background-image: url(/images/selected_button_background.gif);
	}
	.separator {
		display:none;
	}
}
@media screen and (max-width: 633px) {
	.topbannershadow {
		border-radius: 0;
	}
	#topbannerfade {
		border-radius: 0;
	}
	#menu {
		height: auto;
		background-image: url(/images/notselected_button_background.gif);
		margin-bottom: 4px;
	}
	#menu ul {
		border-radius: 0;
		box-shadow: none;
		float: none;
		height: auto;
	}
	#menu li {
		display: inline-block;
		height: auto;
	}
	#menu a {
		display: inherit;
		height: auto;
		line-height: auto;
	}
	#menu .headermenuleftlink,
	#menu .headermenurightlink {
		background-image: url(/images/selected_button_background.gif);
	}
	#toplogo {
		display:block;
		padding-left: 10px;
		padding-top: 18px;
		width:300px;
		height:74px;
		background: transparent url(/images/logosmall.png) 10px 25px no-repeat;
	}
}
