
/* EASTER */
html {
	/* http://www.clker.com/clipart-grass-37.html */
	background: bottom url(/images/grass-md.png) repeat-x;

	/* http://www.clker.com/clipart-easter-penguin.html */
	/*background: bottom url(/images/easter-penguin-md.png) repeat-x;*/

	background: bottom url(/images/grass-md.png) repeat-x, bottom url(/images/easter-penguin-md.png) repeat-x, linear-gradient(top, #628ca3, #28404f 765px);
	background: bottom url(/images/grass-md.png) repeat-x, bottom url(/images/easter-penguin-md.png) repeat-x,  -o-linear-gradient(top, #628ca3, #28404f 765px);
	background: bottom url(/images/grass-md.png) repeat-x, bottom url(/images/easter-penguin-md.png) repeat-x,  -moz-linear-gradient(top, #628ca3, #28404f 765px);
	background: bottom url(/images/grass-md.png) repeat-x, bottom url(/images/easter-penguin-md.png) repeat-x,  -webkit-linear-gradient(top, #628ca3, #28404f 765px);
	background: bottom url(/images/grass-md.png) repeat-x, bottom url(/images/easter-penguin-md.png) repeat-x,  -ms-linear-gradient(top, #628ca3, #28404f 765px);
}
