@charset "utf-8";
body {
	margin: 0px;
	background-color: #38464F;
	background-image: url(/images/background.png);
	background-repeat:repeat-x;
	text-align:center;
}

#wrapper {
	text-align:left;
	margin:0 auto;
	width:760px;
}

p {
	margin: 0px;
}

.banner {
	height: 105px;
	position: relative;
	background: transparent url(/images/banner.png) top left no-repeat;
}

.topbannerbg {
	position:absolute;
	width:100%;
	height:110px;
	background: transparent url(/imagerotate.php?cat=32) top right no-repeat;
}
#topbannerfade {
	float:right;
	height:110px;
	width:760px;
	background: transparent url(/images/bannerfade.png) top left no-repeat;
}
.banner a {
	position: absolute;
	z-index: 1001;
}

#menu {

}
#menu ul {
	float:right;
	list-style:none;
	margin:0;
	padding:0;
}
#menu li {
	float:left;
	margin:0;
	padding:0;
}
#menu a {
	display:block;
}
#menu, .menubar {
	font-family: "Trebuchet MS", Tahoma, Geneva, Verdana, Arial, sans-serif;
	font-size: 12px;
	font-weight:bold;
	color: #EEEEEE;
	height: 29px;
}
table.menubar td {
    line-height: 0;
    padding: 0;
}
#menu  a {
    padding-top: 3px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    display: block;
    height: 18px;
    line-height: 14pt;
}
.headertd {
    padding: 0;
}
#menu .headermenuleft {
    background-image: url(/images/notselected_button_left.png);
}
#menu .headermenuleftlink {
    background-image: url(/images/selected_button_left.png);
    background-position: -100px -100px;
    background-repeat: no-repeat;
}
#menu .headermenuleftlink:hover {
    background-position: 0px 0px;
}
#menu .headermenu {
    background-image: url(/images/notselected_button_background.gif);
}
#menu .headermenulink {
    background-image: url(/images/selected_button_background.gif);
    background-position: -100px -100px;
    background-repeat: repeat-x;
}
#menu .headermenulink:hover {
    background-position: 0px 0px;
}
#menu .headermenuright {
    background-image: url(/images/notselected_button_right.png);
    background-position: right;
    margin: 0px;
    padding: 0px;
}
#menu .headermenurightlink {
    background-image: url(/images/selected_button_right.png);
    background-position: -100px -100px;
    background-repeat: no-repeat;
}
.headermenurightlink:hover {
    background-position: 0px 0px;
    background-position: right;
}

a.menubar:link {
    color: #eeeeee;
    text-decoration: none;
}
a.menubar:visited {
    color: #eeeeee;
    text-decoration: none;
}
a.menubar:hover {
    color: #eeeeee;
    text-decoration: none;
}

.locationbar {
	background-image: url(/images/location_bar.png);
	background-repeat:no-repeat;
	padding: 0px;
	padding-left: 12px;
	font-family: "Trebuchet MS", Tahoma, Geneva, Verdana, Arial, sans-serif;
	font-size: 12px;
	font-weight:bold;
	color: #EEEEEE;
}
.bottombar {
    background-image: url(/images/bottom.png);
    background-repeat:no-repeat;
    padding-left: 12px;
    font-family: "Trebuchet MS", Tahoma, Geneva, Verdana, Arial, sans-serif;
    font-size: 10px;
    font-weight:bold;
    color: #EEEEEE;
}
a.bottomlink:link {
    color: #A3BDCF;
    text-decoration: none;
}
a.bottomlink:visited {
    color: #A3BDCF;
    text-decoration: none;
}
a.bottomlink:hover {
    color: #A3BDCF;
    text-decoration: underline;
}
a {
    outline: none;
}
