<!-- INCLUDE overall_header.html -->

<h2 class="solo"> Search forum using Google</h2>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
	
		<script>
		  (function() {
			var cx = '009330874965769538744:yowugtmfpg8';
			var gcse = document.createElement('script');
			gcse.type = 'text/javascript';
			gcse.async = true;
			gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
				'//www.google.com/cse/cse.js?cx=' + cx;
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(gcse, s);
		  })();
		</script>
		<gcse:search></gcse:search>
	
	</div>
</div>

   <span class="corners-bottom"><span></span></span></div>
</div>

<!-- INCLUDE jumpbox.html -->
<!-- INCLUDE overall_footer.html -->